[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pdfplucker"
version = "0.2.9"
description = "Docling wrapper for PDF parsing"
authors = ["rafaelghiorzi <rafael.ghiorzi@gmail.com>"]
readme = "README.md"
repository = "https://github.com/rafaelghiorzi/pdfplucker"
packages = [
    { include = "pdfplucker" }
]

[tool.poetry.dependencies]
python = ">=3.12,<4.0"
docling = "^2.30.0"
PyMuPDF = "^1.25.5"
rapidocr_onnxruntime = "^1.4.4"

[tool.poetry.group.dev.dependencies]
setuptools = "^78.1.0"

[tool.poetry.scripts]
pdfplucker = "pdfplucker.cli:main"

[tool.poetry.extras]
gpu = [
    # For cuda, guide the user to install the pytorch version that matches their cuda version
    # https://pytorch.org/get-started/locally/
    # Check using nvidia-smi
    "onnxruntime-gpu",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/rafaelghiorzi/pdfplucker/issues"

[tool.poetry.classifiers]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.12",
    "Operating System :: Microsoft :: Windows"
]