[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pdfplucker"
version = "0.2.5"
description = "Docling wrapper for PDF parsing"
authors = ["rafaelghiorzi <rafael.ghiorzi@gmail.com>"]
readme = "README.md"
repository = "https://github.com/rafaelghiorzi/pdfplucker"
packages = [
    { include = "src", from = "." }
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
docling = "^2.28.4"
PyMuPDF = "^1.25.5"
rapidocr-onnxruntime = {version = "^1.4.4", python = ">=3.9,<3.13"}

[tool.poetry.scripts]
pdfplucker = "src.cli:main"